@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-0.woff2") format("woff2");
  unicode-range:U+0020-007E, U+00A0, U+1100-11FF, U+3000-303F, U+3130-318F, U+FF01-FF5E, U+2018-201D, U+2026, U+2013-2014, U+AC00-AC01, U+AC14, U+AC19, U+AC83, U+AC8C, U+ACE0, U+ADF8, U+AE30, U+AFC8, U+B098, U+B0A0, U+B0B4, U+B294, U+B298, U+B2E4, U+B370, U+B3C4, U+B4E4, U+B791, U+B7EC, U+B9AC, U+B9C8, U+B9CC, U+BA39, U+BCF4, U+C0AC, U+C0DD, U+C11C, U+C2DC, U+C2EC, U+C2F6, U+C544, U+C548, U+C558, U+C5B4, U+C5C8, U+C5D0, U+C624, U+C654, U+C6B0, U+C6CC, U+C740, U+C74C, U+C774, U+C77C, U+C788, U+C790, U+C798, U+C870, U+C880, U+C88B, U+C8FC, U+C9C0, U+D504, U+D558, U+D574, U+D588, U+D654, U+D798;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-1.woff2") format("woff2");
  unicode-range:U+AC04, U+AC10, U+AC15, U+AC70, U+AC74, U+ACA8, U+ACBC, U+ACE4, U+ACF5, U+AD00, U+AD50, U+AD6C, U+AE4C, U+AFD4, U+B05D, U+B0A8, U+B124, U+B2C8, U+B300, U+B3D9, U+B530, U+B54C, U+B798, U+B8E8, U+BA74, U+BB34, U+BB50, U+BC25, U+BC84, U+BC88, U+BCF8, U+BD10, U+BD80, U+BD84, U+BE60, U+C168, U+C18C, U+C528, U+C54C, U+C57C, U+C5B5, U+C5B8, U+C5BC, U+C637, U+C6C3, U+C804, U+C810, U+C81C, U+C84C, U+C9C4, U+CC59, U+CD94, U+CE5C, U+CE68, U+D1B5, U+D53C, U+D559, U+D560, U+D5D8, U+D6C4;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-2.woff2") format("woff2");
  unicode-range:U+AC08, U+AC71, U+ACE7, U+AD1C, U+B0AC, U+B0E5, U+B144, U+B358, U+B410, U+B41C, U+B420, U+B4E3, U+B514, U+B73B, U+B824, U+B9B4, U+B9D9, U+B9DB, U+B9DE, U+BAA9, U+BBF8, U+BC0C, U+BC14-BC15, U+BC18, U+BC31, U+BC8C, U+BCC4, U+C058, U+C0C1, U+C158, U+C218, U+C26C, U+C2A8, U+C2E0, U+C2EB, U+C368, U+C5C4, U+C5C6, U+C601, U+C608, U+C6D0, U+C751, U+C785, U+C7AC, U+C815, U+C904, U+C918, U+C9DC, U+CC0D, U+CC2C, U+CC2E, U+CC38, U+CCE4, U+CE58, U+CEE8, U+D56D, U+D5D0, U+D68C, U+D734;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-3.woff2") format("woff2");
  unicode-range:U+AC1C, U+ACB0, U+ACBD, U+ACC4, U+ACFC, U+AE08, U+B09C, U+B140, U+B180, U+B193, U+B208, U+B2A6, U+B301, U+B354, U+B418, U+B4DC, U+B4E0, U+B77C, U+B78C, U+B85C-B85D, U+B974, U+B97C, U+B9CE, U+BA38, U+BB38, U+BE44, U+BE68, U+C0B0, U+C131, U+C2A4, U+C2E4, U+C545, U+C54A, U+C5ED, U+C640, U+C694, U+C6A9, U+C6B4, U+C704, U+C720, U+C73C, U+C744, U+C758, U+C778, U+C77D, U+C7A5, U+C800-C801, U+C99D, U+CC45, U+CC98, U+CCA0, U+CCAD, U+CCD0, U+D2B8, U+D2F0, U+D55C, U+D589, U+D655;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-4.woff2") format("woff2");
  unicode-range:U+AC80, U+ACF0, U+AD70, U+ADDC, U+ADFC, U+B2A5, U+B2E8, U+B450, U+B8CC, U+BA54, U+BA70, U+BA85, U+BAA8, U+BC29, U+BC30, U+BCC0, U+BCF5, U+BD88, U+BE0C, U+C0AD, U+C0C8, U+C120, U+C124, U+C138, U+C21C, U+C2B5, U+C57D, U+C5C5, U+C5EC, U+C5F0, U+C644, U+C791, U+C811, U+C874, U+C900, U+C911, U+C9C1, U+CCB4, U+CD08, U+CD5C, U+CD9C, U+CE74, U+CEE4, U+CF54, U+D06C, U+D0C0, U+D0DC, U+D130, U+D14C, U+D1A0, U+D30C, U+D3EC, U+D45C, U+D50C, U+D544, U+D568-D569, U+D604, U+D638, U+D648;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-5.woff2") format("woff2");
  unicode-range:U+AC12, U+ACA9, U+AD8C, U+AE00, U+AE34, U+AED8, U+B108, U+B178, U+B2EC, U+B2F9, U+B3C5, U+B3CC, U+B4A4, U+B77D, U+B808, U+B825, U+B958, U+B978, U+B9B0, U+B9BC-B9BD, U+B9C1, U+B9D0, U+BA3C, U+BABB, U+BBC0, U+BC1C, U+BC94-BC95, U+C0C9, U+C18D, U+C190, U+C2DD, U+C4F0, U+C554, U+C571, U+C5F4, U+C628, U+C678, U+C784, U+C808, U+C885, U+C9D1, U+CC28, U+CC44, U+CCAB, U+CE21, U+CE59, U+D074, U+D0A4, U+D0DD, U+D0ED, U+D310, U+D328, U+D3C9, U+D488, U+D5A5, U+D615, U+D658, U+D788;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-6.woff2") format("woff2");
  unicode-range:U+AE09, U+B123, U+B204, U+B2EB, U+B2F4, U+B428, U+B458, U+B4F1, U+B529, U+B5A4, U+B610, U+B7FC, U+B860, U+B864, U+B984, U+B9C9, U+B9E4, U+BB3C, U+BC00, U+BC0F, U+BC1B, U+BCD1, U+BE14, U+BE48, U+BFD0, U+C11D, U+C1A1, U+C2AC, U+C2B9, U+C4F4, U+C591, U+C5D4, U+C62C, U+C6D4, U+C728, U+C7A0, U+C82F, U+C989, U+C9C8, U+C9F8, U+CABD, U+CCA8, U+CD95, U+CD98, U+CDA9, U+CEEC, U+CEF4, U+CF58, U+D070, U+D0C8, U+D14D, U+D150, U+D2BC, U+D305, U+D3B8, U+D551, U+D575, U+D5C8, U+D65C, U+D68D;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-7.woff2") format("woff2");
  unicode-range:U+AC1D, U+AC31, U+ACAC, U+ACF3, U+ADC0, U+AE38, U+AE68, U+AFB8, U+B137, U+B150, U+B192, U+B290, U+B2F5, U+B378, U+B429, U+B454, U+B79C, U+B7B5, U+B7C9, U+B7F0, U+B80C, U+B828, U+B82C, U+B8E1, U+B960, U+B9AD, U+B9E5, U+BABD, U+BBFC, U+BC0B, U+BC16, U+BCA4, U+BCFC, U+BD99, U+BDF0, U+BE4C, U+C0B4, U+C220, U+C22B, U+C560, U+C5C7, U+C600, U+C775, U+C7A1, U+C81D, U+C838, U+CC29, U+CC3E, U+CDE8, U+CE20, U+CE35, U+CE78, U+CE90, U+CEA1, U+CF00, U+D1F4, U+D3F0, U+D5E4, U+D6A8, U+D750;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-8.woff2") format("woff2");
  unicode-range:U+AC16, U+AC78, U+AD34, U+AD6D, U+AF2D, U+B00C, U+B0AE, U+B10C, U+B110, U+B118, U+B2D8, U+B3FC, U+B7AB, U+B7FF, U+B838, U+B8B0, U+BA64, U+BB3B, U+BCA0, U+BCA8, U+C140, U+C14B, U+C228, U+C313, U+C4F8, U+C555, U+C55E, U+C561, U+C598, U+C62E, U+C65C, U+C6C0, U+C871, U+C9E7, U+CC30, U+CC3D, U+CC9C, U+CD09, U+CE6D, U+CF1C, U+CF5C, U+D0B7, U+D0D0, U+D138, U+D15C, U+D1A4, U+D22C, U+D2B9, U+D2C0, U+D314, U+D329, U+D37C, U+D398, U+D3D0, U+D3FC, U+D600, U+D63C, U+D669, U+D718, U+D78C;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-9.woff2") format("woff2");
  unicode-range:U+ACB9, U+AD11, U+AE0B, U+AE40, U+B044, U+B04A, U+B0B8, U+B113, U+B20C, U+B274, U+B2C9, U+B355, U+B36E, U+B4EC, U+B5BB, U+B6F0, U+B728, U+B784, U+B807, U+B839, U+B9F5, U+BA48, U+BAB8, U+BB36, U+BD24, U+C068, U+C0BC, U+C139, U+C1C4, U+C2ED, U+C30D, U+C378, U+C587, U+C633, U+C6B8, U+C6E0, U+C6F9, U+C783, U+C789, U+C7C1, U+C88C, U+C8FD, U+C988, U+C998, U+C9D0, U+C9D3, U+C9D5, U+CE69, U+CE98, U+D050, U+D0A8, U+D134, U+D2F4, U+D3ED, U+D3F4, U+D478, U+D514, U+D611, U+D614, U+D6C8;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-10.woff2") format("woff2");
  unicode-range:U+AD75, U+ADC4, U+ADE0, U+AEBC, U+AFBC, U+AFC0, U+AFE8, U+B010, U+B04C, U+B0A1, U+B0BC, U+B2CC, U+B2D9, U+B2FF, U+B3C8, U+B4DD, U+B525, U+B6F4, U+B780, U+B7A8, U+B7F4, U+B809, U+B840, U+B8F9, U+B9BF, U+BA87, U+BCBD, U+BD09, U+BD81, U+BE7C, U+BEE4, U+C0F7, U+C11E, U+C12F, U+C1E0, U+C2F1, U+C2F8, U+C37C, U+C529, U+C559, U+C5B9, U+C606, U+C61B, U+C721, U+C794, U+C7AD, U+CDCC, U+CE94, U+CFFC, U+D0EC, U+D154, U+D1A1, U+D48D, U+D53D, U+D578, U+D608, U+D6C5, U+D754, U+D769, U+D770;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-11.woff2") format("woff2");
  unicode-range:U+AC11, U+AC24, U+ACE8, U+AD04, U+ADF9, U+B07C, U+B0C8, U+B179, U+B17C, U+B214, U+B2DB, U+B2DD, U+B2E5, U+B2EE, U+B371, U+B480, U+B4C8, U+B5A0, U+B5A8, U+B744, U+B7FD, U+B86C, U+B86F, U+B9DD, U+B9E8, U+BA4D, U+BA71, U+BBA4, U+BBFF, U+BC97, U+C13C, U+C154, U+C194, U+C219, U+C2FC, U+C5BB, U+C634-C635, U+C67C, U+C80A, U+C881, U+C9DD, U+CCA9, U+CDC4, U+CE60, U+CF08, U+CF30, U+D07C, U+D0B9, U+D0C1, U+D140-D141, U+D2F1, U+D2F8, U+D390, U+D3BC, U+D5EC, U+D69F, U+D6D1, U+D761;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-12.woff2") format("woff2");
  unicode-range:U+AC81, U+ACA0, U+ACE1, U+AD81, U+AE0D, U+AE43, U+AE50, U+AEBE, U+B054, U+B099, U+B141, U+B155, U+B3D5, U+B465, U+B611, U+B790, U+B7A9, U+B800, U+B834, U+B86D, U+B8EC, U+B904, U+B985, U+BA40, U+BAB0, U+BB35, U+BB49, U+BBAC, U+BC0D, U+BC1D, U+BCCD, U+BE61, U+BE80, U+C0CC, U+C14C, U+C15C, U+C178, U+C27D, U+C500, U+C564, U+C610, U+C787, U+C90D, U+CC99, U+CD18, U+CD1D, U+CDB0, U+CF20, U+CF2C, U+D0D3, U+D0D5, U+D2C8, U+D300, U+D480, U+D508, U+D610, U+D61C, U+D640, U+D758, U+D790;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-13.woff2") format("woff2");
  unicode-range:U+AC20, U+ACAA, U+ACF1, U+AE41, U+AE4A, U+AE5C-AE5D, U+AE65, U+AEF4, U+AF08, U+B014, U+B01C, U+B057, U+B08C, U+B0C5, U+B0D0, U+B220, U+B234, U+B2D0, U+B313, U+B35C, U+B35F, U+B364, U+B4EF, U+B78D, U+B799, U+B7AD, U+B835, U+B8F0, U+B918, U+B9F7, U+BB54, U+BC11, U+BC1F, U+BD05, U+BE59, U+BE74, U+C0BD, U+C0D8, U+C2B7, U+C501, U+C52C, U+C557, U+C568, U+C655, U+C6DC, U+C6E8, U+C8C4, U+C90C, U+CDA4, U+CF8C, U+D000, U+D0AC, U+D0B4-D0B5, U+D1B1, U+D31D, U+D64D, U+D6E8, U+D7A3;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-14.woff2") format("woff2");
  unicode-range:U+AC77, U+B0A9, U+B0AB, U+B0AD, U+B0B3, U+B109, U+B304, U+B311, U+B4E6, U+B4ED, U+B518, U+B5B4, U+B6AB, U+B72C, U+B760, U+B96D, U+BA78, U+BAAB, U+BC24, U+BCBC, U+BD04, U+BD07, U+BD95, U+BE57, U+BE7D, U+BE90, U+BED4, U+BF51, U+BFCC, U+C05C, U+C12D, U+C148-C149, U+C2B4, U+C2E3, U+C575, U+C5E3, U+C5FC, U+C74D, U+C78A, U+C820, U+C886, U+C92C, U+C954, U+C990, U+CC57, U+CF24, U+D034, U+D0D1, U+D0E0, U+D280, U+D30E, U+D384, U+D399, U+D47C, U+D4E8, U+D56B, U+D6CC, U+D6FC, U+D76C;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-15.woff2") format("woff2");
  unicode-range:U+AC07, U+AC1A, U+AC7A, U+ACB8, U+ACFD, U+AD18, U+AD74, U+AE4E, U+AE54, U+AF34, U+AF3D, U+B25C, U+B369, U+B3CB, U+B560, U+B6F8, U+B7ED, U+B8E9, U+B9E1, U+BA58, U+BC45, U+BE45, U+BE5B, U+BF08, U+C090, U+C1FC, U+C288, U+C308, U+C369, U+C410, U+C50C, U+C539, U+C570, U+C574, U+C5BD, U+C695, U+C708, U+C7B0, U+C7C0, U+C878, U+C8E0, U+CA61, U+CC3C, U+CD2C, U+CEA0, U+CF13, U+CFE0, U+D035, U+D168, U+D17C, U+D295, U+D29C, U+D3B4, U+D5DB, U+D639, U+D649, U+D729, U+D749, U+D751, U+D799;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-16.woff2") format("woff2");
  unicode-range:U+AC02-AC03, U+AC05-AC06, U+AC09-AC0F, U+AC13, U+AC17-AC18, U+AC1B, U+AC2D, U+AD0B, U+AE01, U+B048, U+B0C4, U+B11C, U+B258, U+B2A1, U+B2F7, U+B367, U+B460-B461, U+B46C, U+B4B7, U+B6B1, U+B730, U+B818, U+B81C, U+B8F8, U+BAAC, U+BB18, U+BCF6, U+BED0, U+BED7, U+C0C0, U+C232, U+C27C, U+C597, U+C5C9, U+C7A4, U+C92B, U+C9E2, U+CA4D, U+CBE4, U+CC0C, U+CDA5, U+CE7C, U+CEE5, U+D07D, U+D230, U+D39C, U+D540, U+D5F7, U+D6D4, U+D6D7;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-17.woff2") format("woff2");
  unicode-range:U+AC1E-AC1F, U+AC21-AC23, U+AC25-AC2C, U+AC2E-AC30, U+AC32-AC5D;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-18.woff2") format("woff2");
  unicode-range:U+AC5E-AC6F, U+AC72-AC73, U+AC75-AC76, U+AC79, U+AC7B-AC7F, U+AC82, U+AC84-AC8B, U+AC8D-AC9F, U+ACA1-ACA4;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-19.woff2") format("woff2");
  unicode-range:U+ACA5-ACA7, U+ACAB, U+ACAD-ACAF, U+ACB1-ACB7, U+ACBA-ACBB, U+ACBE-ACC3, U+ACC5-ACDF, U+ACE2-ACE3, U+ACE5-ACE6, U+ACE9-ACEF;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-20.woff2") format("woff2");
  unicode-range:U+ACF2, U+ACF4, U+ACF6-ACFB, U+ACFE-ACFF, U+AD01-AD03, U+AD05-AD0A, U+AD0C-AD10, U+AD12-AD17, U+AD19-AD1B, U+AD1D-AD33, U+AD35-AD38;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-21.woff2") format("woff2");
  unicode-range:U+AD39-AD4F, U+AD51-AD6B, U+AD6E-AD6F, U+AD71-AD73, U+AD76-AD7A;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-22.woff2") format("woff2");
  unicode-range:U+AD7B-AD80, U+AD82-AD8B, U+AD8D-ADB8;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-23.woff2") format("woff2");
  unicode-range:U+ADB9-ADBF, U+ADC1-ADC3, U+ADC5-ADDB, U+ADDD-ADDF, U+ADE1-ADF7, U+ADFA;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-24.woff2") format("woff2");
  unicode-range:U+ADFB, U+ADFD-ADFF, U+AE02-AE07, U+AE0A, U+AE0C, U+AE0E-AE2F, U+AE31-AE33, U+AE35-AE37, U+AE39-AE3F, U+AE42;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-25.woff2") format("woff2");
  unicode-range:U+AE44-AE49, U+AE4B, U+AE4D, U+AE4F, U+AE51-AE53, U+AE55-AE5B, U+AE5E-AE64, U+AE66-AE67, U+AE69-AE88;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-26.woff2") format("woff2");
  unicode-range:U+AE89-AEBB, U+AEBD, U+AEBF-AEC6;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-27.woff2") format("woff2");
  unicode-range:U+AEC7-AED7, U+AED9-AEF3, U+AEF5-AF04;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-28.woff2") format("woff2");
  unicode-range:U+AF05-AF07, U+AF09-AF2C, U+AF2E-AF33, U+AF35-AF3C, U+AF3E-AF44;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-29.woff2") format("woff2");
  unicode-range:U+AF45-AF80;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-30.woff2") format("woff2");
  unicode-range:U+AF81-AFB7, U+AFB9-AFBB, U+AFBD-AFBE;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-31.woff2") format("woff2");
  unicode-range:U+AFBF, U+AFC1-AFC7, U+AFC9-AFD3, U+AFD5-AFE7, U+AFE9-AFFE;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-32.woff2") format("woff2");
  unicode-range:U+AFFF-B00B, U+B00D-B00F, U+B011-B013, U+B015-B01B, U+B01D-B03E;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-33.woff2") format("woff2");
  unicode-range:U+B03F-B043, U+B045-B047, U+B049, U+B04B, U+B04D-B053, U+B055-B056, U+B058-B05C, U+B05E-B07B, U+B07D-B082;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-34.woff2") format("woff2");
  unicode-range:U+B083-B08B, U+B08D-B097, U+B09A-B09B, U+B09D-B09F, U+B0A2-B0A7, U+B0AA, U+B0AF-B0B2, U+B0B5-B0B7, U+B0B9-B0BB, U+B0BD-B0C3, U+B0C6-B0C7, U+B0C9-B0CF, U+B0D1-B0D2;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-35.woff2") format("woff2");
  unicode-range:U+B0D3-B0E4, U+B0E6-B107, U+B10A-B10B, U+B10D-B10F, U+B111-B112, U+B114;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-36.woff2") format("woff2");
  unicode-range:U+B115-B117, U+B119-B11B, U+B11D-B122, U+B125-B136, U+B138-B13F, U+B142-B143, U+B145-B14F, U+B151-B154, U+B156-B15A;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-37.woff2") format("woff2");
  unicode-range:U+B15B-B177, U+B17A-B17B, U+B17D-B17F, U+B181-B191, U+B194-B19C;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-38.woff2") format("woff2");
  unicode-range:U+B19D-B1D8;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-39.woff2") format("woff2");
  unicode-range:U+B1D9-B203, U+B205-B207, U+B209-B20B, U+B20D-B213, U+B215-B218;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-40.woff2") format("woff2");
  unicode-range:U+B219-B21F, U+B221-B233, U+B235-B256;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-41.woff2") format("woff2");
  unicode-range:U+B257, U+B259-B25B, U+B25D-B273, U+B275-B28F, U+B291-B293, U+B295-B297;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-42.woff2") format("woff2");
  unicode-range:U+B299-B2A0, U+B2A2-B2A4, U+B2A7-B2C7, U+B2CA-B2CB, U+B2CD-B2CF, U+B2D1-B2D7, U+B2DA, U+B2DC, U+B2DE-B2DF;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-43.woff2") format("woff2");
  unicode-range:U+B2E0-B2E3, U+B2E6-B2E7, U+B2E9-B2EA, U+B2ED, U+B2EF-B2F3, U+B2F6, U+B2F8, U+B2FA-B2FE, U+B302-B303, U+B305-B310, U+B312, U+B314-B32B;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-44.woff2") format("woff2");
  unicode-range:U+B32C-B353, U+B356-B357, U+B359-B35B, U+B35D-B35E, U+B360-B363, U+B365-B366, U+B368, U+B36A-B36D, U+B36F, U+B372;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-45.woff2") format("woff2");
  unicode-range:U+B373-B377, U+B379-B3AF;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-46.woff2") format("woff2");
  unicode-range:U+B3B0-B3C3, U+B3C6-B3C7, U+B3C9-B3CA, U+B3CD-B3D4, U+B3D6-B3D8, U+B3DA-B3F2;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-47.woff2") format("woff2");
  unicode-range:U+B3F3-B3FB, U+B3FD-B40F, U+B411-B417, U+B419-B41B, U+B41D-B41F, U+B421-B427, U+B42A-B435;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-48.woff2") format("woff2");
  unicode-range:U+B436-B44F, U+B451-B453, U+B455-B457, U+B459-B45F, U+B462-B464, U+B466-B46B, U+B46D-B478;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-49.woff2") format("woff2");
  unicode-range:U+B479-B47F, U+B481-B4A3, U+B4A5-B4B6;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-50.woff2") format("woff2");
  unicode-range:U+B4B8-B4C7, U+B4C9-B4DB, U+B4DE-B4DF, U+B4E1-B4E2, U+B4E5, U+B4E7-B4EB, U+B4EE, U+B4F0, U+B4F2-B4FE;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-51.woff2") format("woff2");
  unicode-range:U+B4FF-B513, U+B515-B517, U+B519-B524, U+B526-B528, U+B52A-B52F, U+B531-B53F;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-52.woff2") format("woff2");
  unicode-range:U+B540-B54B, U+B54D-B55F, U+B561-B57D;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-53.woff2") format("woff2");
  unicode-range:U+B57E-B59F, U+B5A1-B5A3, U+B5A5-B5A7, U+B5A9-B5B3, U+B5B5-B5BA, U+B5BC-B5BE;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-54.woff2") format("woff2");
  unicode-range:U+B5BF-B5FA;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-55.woff2") format("woff2");
  unicode-range:U+B5FB-B60F, U+B612-B638;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-56.woff2") format("woff2");
  unicode-range:U+B639-B674;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-57.woff2") format("woff2");
  unicode-range:U+B675-B6AA, U+B6AC-B6B0, U+B6B2;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-58.woff2") format("woff2");
  unicode-range:U+B6B3-B6EE;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-59.woff2") format("woff2");
  unicode-range:U+B6EF, U+B6F1-B6F3, U+B6F5-B6F7, U+B6F9-B727, U+B729-B72B, U+B72D-B72F;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-60.woff2") format("woff2");
  unicode-range:U+B731-B73A, U+B73C-B743, U+B745-B75F, U+B761-B76F;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-61.woff2") format("woff2");
  unicode-range:U+B770-B77B, U+B77E-B77F, U+B781-B783, U+B785-B78B, U+B78E-B78F, U+B792-B797, U+B79A-B79B, U+B79D-B7A7, U+B7AA, U+B7AC, U+B7AE-B7B4, U+B7B6-B7BB;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-62.woff2") format("woff2");
  unicode-range:U+B7BC-B7C8, U+B7CA-B7EB, U+B7EE-B7EF, U+B7F1-B7F3, U+B7F5-B7FB, U+B7FE;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-63.woff2") format("woff2");
  unicode-range:U+B801-B806, U+B80A-B80B, U+B80D-B817, U+B819-B81B, U+B81D-B823, U+B826-B827, U+B829-B82B, U+B82D-B833, U+B836-B837, U+B83A-B83F, U+B841-B84B;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-64.woff2") format("woff2");
  unicode-range:U+B84C-B85B, U+B85E-B85F, U+B861-B863, U+B865-B86B, U+B86E, U+B870-B88E;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-65.woff2") format("woff2");
  unicode-range:U+B88F-B8AF, U+B8B1-B8CB;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-66.woff2") format("woff2");
  unicode-range:U+B8CD-B8E0, U+B8E2-B8E7, U+B8EA-B8EB, U+B8ED-B8EF, U+B8F1-B8F7, U+B8FA-B903, U+B905-B910;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-67.woff2") format("woff2");
  unicode-range:U+B911-B917, U+B919-B94D;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-68.woff2") format("woff2");
  unicode-range:U+B94E-B957, U+B959-B95F, U+B961-B96C, U+B96E-B973, U+B975-B977, U+B979-B97B, U+B97D-B983, U+B986-B991;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-69.woff2") format("woff2");
  unicode-range:U+B992-B9AB, U+B9AE-B9AF, U+B9B1-B9B3, U+B9B5-B9BB, U+B9BE, U+B9C0, U+B9C2-B9C7, U+B9CA-B9CB, U+B9CD, U+B9CF, U+B9D1-B9D8, U+B9DA, U+B9DC;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-70.woff2") format("woff2");
  unicode-range:U+B9DF-B9E0, U+B9E2-B9E3, U+B9E6-B9E7, U+B9E9-B9F4, U+B9F6, U+B9F8-BA20;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-71.woff2") format("woff2");
  unicode-range:U+BA21-BA37, U+BA3A-BA3B, U+BA3D-BA3F, U+BA41-BA47, U+BA49-BA4C, U+BA4E-BA53, U+BA55-BA57, U+BA59-BA63, U+BA65;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-72.woff2") format("woff2");
  unicode-range:U+BA66-BA6F, U+BA72-BA73, U+BA75-BA77, U+BA79-BA84, U+BA86, U+BA88-BAA7;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-73.woff2") format("woff2");
  unicode-range:U+BAAA, U+BAAD-BAAF, U+BAB1-BAB7, U+BAB9-BABA, U+BABC, U+BABE-BAEB;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-74.woff2") format("woff2");
  unicode-range:U+BAEC-BB17, U+BB19-BB28;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-75.woff2") format("woff2");
  unicode-range:U+BB29-BB33, U+BB37, U+BB39-BB3A, U+BB3D-BB48, U+BB4A-BB4F, U+BB51-BB53, U+BB55-BB6D;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-76.woff2") format("woff2");
  unicode-range:U+BB6E-BBA3, U+BBA5-BBAA;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-77.woff2") format("woff2");
  unicode-range:U+BBAB, U+BBAD-BBBF, U+BBC1-BBE8;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-78.woff2") format("woff2");
  unicode-range:U+BBE9-BBF7, U+BBF9-BBFB, U+BBFD-BBFE, U+BC01-BC0A, U+BC0E, U+BC10, U+BC12-BC13, U+BC17, U+BC19-BC1A, U+BC1E, U+BC20-BC23, U+BC26-BC28, U+BC2A-BC2F, U+BC32-BC3A;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-79.woff2") format("woff2");
  unicode-range:U+BC3B-BC44, U+BC46-BC77;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-80.woff2") format("woff2");
  unicode-range:U+BC78-BC83, U+BC85-BC87, U+BC89-BC8B, U+BC8D-BC93, U+BC96, U+BC98-BC9F, U+BCA1-BCA3, U+BCA5-BCA7, U+BCA9-BCBB, U+BCBE;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-81.woff2") format("woff2");
  unicode-range:U+BCBF, U+BCC1-BCC3, U+BCC5-BCCC, U+BCCE-BCD0, U+BCD2-BCF3, U+BCF7, U+BCF9-BCFB, U+BCFD-BD03;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-82.woff2") format("woff2");
  unicode-range:U+BD06, U+BD08, U+BD0A-BD0F, U+BD11-BD23, U+BD25-BD45;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-83.woff2") format("woff2");
  unicode-range:U+BD46-BD7F, U+BD82-BD83;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-84.woff2") format("woff2");
  unicode-range:U+BD85-BD87, U+BD89-BD94, U+BD96-BD98, U+BD9A-BDC3;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-85.woff2") format("woff2");
  unicode-range:U+BDC4-BDEF, U+BDF1-BE00;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-86.woff2") format("woff2");
  unicode-range:U+BE01-BE0B, U+BE0D-BE13, U+BE15-BE3E;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-87.woff2") format("woff2");
  unicode-range:U+BE3F-BE43, U+BE46-BE47, U+BE49-BE4B, U+BE4D-BE56, U+BE58, U+BE5A, U+BE5C-BE5F, U+BE62-BE67, U+BE69-BE73, U+BE75-BE7B, U+BE7E-BE7F, U+BE81-BE88;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-88.woff2") format("woff2");
  unicode-range:U+BE89-BE8F, U+BE91-BEC5;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-89.woff2") format("woff2");
  unicode-range:U+BEC6-BECF, U+BED1-BED3, U+BED5-BED6, U+BED8-BEE3, U+BEE5-BF05;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-90.woff2") format("woff2");
  unicode-range:U+BF06-BF07, U+BF09-BF42;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-91.woff2") format("woff2");
  unicode-range:U+BF43-BF50, U+BF52-BF7F;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-92.woff2") format("woff2");
  unicode-range:U+BF80-BFBB;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-93.woff2") format("woff2");
  unicode-range:U+BFBC-BFCB, U+BFCD-BFCF, U+BFD1-BFF9;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-94.woff2") format("woff2");
  unicode-range:U+BFFA-C035;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-95.woff2") format("woff2");
  unicode-range:U+C036-C057, U+C059-C05B, U+C05D-C067, U+C069-C074;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-96.woff2") format("woff2");
  unicode-range:U+C075-C08F, U+C091-C0AB, U+C0AE-C0AF, U+C0B1-C0B3, U+C0B5;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-97.woff2") format("woff2");
  unicode-range:U+C0B6-C0BB, U+C0BE-C0BF, U+C0C2-C0C7, U+C0CA-C0CB, U+C0CD-C0D7, U+C0D9-C0DC, U+C0DE-C0F6, U+C0F8-C0FB;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-98.woff2") format("woff2");
  unicode-range:U+C0FC-C11B, U+C11F, U+C121-C123, U+C125-C12C, U+C12E, U+C130, U+C132-C137, U+C13A-C13B, U+C13D-C13F, U+C141-C143;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-99.woff2") format("woff2");
  unicode-range:U+C144-C147, U+C14A, U+C14D-C153, U+C155-C157, U+C159-C15B, U+C15D-C167, U+C169-C177, U+C179-C188;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-100.woff2") format("woff2");
  unicode-range:U+C189-C18B, U+C18E-C18F, U+C191-C193, U+C195-C1A0, U+C1A2-C1C3, U+C1C5-C1CA;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-101.woff2") format("woff2");
  unicode-range:U+C1CB-C1DF, U+C1E1-C1FB, U+C1FD-C208;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-102.woff2") format("woff2");
  unicode-range:U+C209-C217, U+C21A-C21B, U+C21D-C21F, U+C221-C227, U+C229-C22A, U+C22C-C231, U+C233-C24B;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-103.woff2") format("woff2");
  unicode-range:U+C24C-C26B, U+C26D-C27B, U+C27E-C287, U+C289-C28B;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-104.woff2") format("woff2");
  unicode-range:U+C28C-C2A3, U+C2A5-C2A7, U+C2A9-C2AB, U+C2AD-C2B3, U+C2B6, U+C2B8, U+C2BA-C2CE;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-105.woff2") format("woff2");
  unicode-range:U+C2CF-C2DB, U+C2DE-C2DF, U+C2E1-C2E2, U+C2E5-C2EA, U+C2EE-C2F0, U+C2F2-C2F5, U+C2F7, U+C2F9-C2FB, U+C2FD-C307, U+C309-C30C, U+C30E-C312, U+C314-C319;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-106.woff2") format("woff2");
  unicode-range:U+C31A-C355;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-107.woff2") format("woff2");
  unicode-range:U+C356-C367, U+C36A-C377, U+C379-C37B, U+C37D-C395;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-108.woff2") format("woff2");
  unicode-range:U+C396-C3D1;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-109.woff2") format("woff2");
  unicode-range:U+C3D2-C40D;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-110.woff2") format("woff2");
  unicode-range:U+C40E-C40F, U+C411-C44A;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-111.woff2") format("woff2");
  unicode-range:U+C44B-C486;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-112.woff2") format("woff2");
  unicode-range:U+C487-C4C2;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-113.woff2") format("woff2");
  unicode-range:U+C4C3-C4EF, U+C4F1-C4F3, U+C4F5-C4F7, U+C4F9-C4FF, U+C502-C503;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-114.woff2") format("woff2");
  unicode-range:U+C504-C50B, U+C50D-C527, U+C52A-C52B, U+C52D-C538, U+C53A-C543, U+C546;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-115.woff2") format("woff2");
  unicode-range:U+C547, U+C549, U+C54B, U+C54D-C553, U+C556, U+C55A-C55D, U+C55F, U+C562-C563, U+C565-C567, U+C569-C56F, U+C572-C573, U+C576-C57B, U+C57E-C586, U+C588-C590, U+C592-C596, U+C599;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-116.woff2") format("woff2");
  unicode-range:U+C59A-C5B3, U+C5B6-C5B7, U+C5BA, U+C5BE-C5C3, U+C5CA-C5CF, U+C5D1-C5D3, U+C5D5-C5E2, U+C5E4-C5E5;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-117.woff2") format("woff2");
  unicode-range:U+C5E6-C5EB, U+C5EE-C5EF, U+C5F1-C5F3, U+C5F5-C5FB, U+C5FD-C5FF, U+C602-C605, U+C607, U+C609-C60F, U+C611-C61A, U+C61C-C623, U+C625-C627, U+C629-C62B, U+C62D, U+C62F-C630;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-118.woff2") format("woff2");
  unicode-range:U+C631-C632, U+C636, U+C638-C63F, U+C641-C643, U+C645-C653, U+C656-C65B, U+C65D-C675;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-119.woff2") format("woff2");
  unicode-range:U+C676-C677, U+C679-C67B, U+C67D-C693, U+C696-C6A8, U+C6AA-C6AF, U+C6B1-C6B3, U+C6B5-C6B7, U+C6B9;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-120.woff2") format("woff2");
  unicode-range:U+C6BA-C6BF, U+C6C1-C6C2, U+C6C4-C6CB, U+C6CD-C6CF, U+C6D1-C6D3, U+C6D5-C6DB, U+C6DD-C6DF, U+C6E1-C6E7, U+C6E9-C6F8, U+C6FA-C6FE;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-121.woff2") format("woff2");
  unicode-range:U+C6FF-C703, U+C705-C707, U+C709-C71F, U+C722-C727, U+C729-C73B, U+C73D-C73F, U+C741;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-122.woff2") format("woff2");
  unicode-range:U+C742-C743, U+C745-C74B, U+C74E-C750, U+C752-C757, U+C759-C773, U+C776-C777, U+C779-C77B, U+C77E-C782, U+C786, U+C78B-C78E;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-123.woff2") format("woff2");
  unicode-range:U+C78F, U+C792-C793, U+C795-C797, U+C799-C79F, U+C7A2-C7A3, U+C7A6-C7AB, U+C7AE-C7AF, U+C7B1-C7BF, U+C7C2-C7D7;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-124.woff2") format("woff2");
  unicode-range:U+C7D8-C7FF, U+C802-C803, U+C805-C807, U+C809, U+C80B-C80F, U+C812-C814, U+C816-C81B;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-125.woff2") format("woff2");
  unicode-range:U+C81E-C81F, U+C821-C82E, U+C830-C837, U+C839-C84B, U+C84D-C85D;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-126.woff2") format("woff2");
  unicode-range:U+C85E-C86F, U+C872-C873, U+C875-C877, U+C879-C87F, U+C882-C884, U+C887-C88A, U+C88D-C8A3;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-127.woff2") format("woff2");
  unicode-range:U+C8A4-C8C3, U+C8C5-C8DF, U+C8E1;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-128.woff2") format("woff2");
  unicode-range:U+C8E2-C8FB, U+C8FE-C8FF, U+C901-C903, U+C905-C90B, U+C90E-C910, U+C912-C917, U+C919-C925;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-129.woff2") format("woff2");
  unicode-range:U+C926-C92A, U+C92D-C953, U+C955-C964;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-130.woff2") format("woff2");
  unicode-range:U+C965-C987, U+C98A-C98F, U+C991-C997, U+C999-C99C, U+C99E-C9A5;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-131.woff2") format("woff2");
  unicode-range:U+C9A6-C9BF, U+C9C2-C9C3, U+C9C5-C9C7, U+C9C9-C9CF, U+C9D2, U+C9D4, U+C9D6-C9DB, U+C9DE-C9E1, U+C9E3-C9E6, U+C9E8-C9ED;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-132.woff2") format("woff2");
  unicode-range:U+C9EE-C9F7, U+C9F9-CA2A;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-133.woff2") format("woff2");
  unicode-range:U+CA2B-CA4C, U+CA4E-CA60, U+CA62-CA68;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-134.woff2") format("woff2");
  unicode-range:U+CA69-CAA4;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-135.woff2") format("woff2");
  unicode-range:U+CAA5-CABC, U+CABE-CAE1;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-136.woff2") format("woff2");
  unicode-range:U+CAE2-CB1D;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-137.woff2") format("woff2");
  unicode-range:U+CB1E-CB59;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-138.woff2") format("woff2");
  unicode-range:U+CB5A-CB95;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-139.woff2") format("woff2");
  unicode-range:U+CB96-CBD1;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-140.woff2") format("woff2");
  unicode-range:U+CBD2-CBE3, U+CBE5-CC0B, U+CC0E-CC10;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-141.woff2") format("woff2");
  unicode-range:U+CC11-CC27, U+CC2A-CC2B, U+CC2D, U+CC2F, U+CC31-CC37, U+CC39-CC3B, U+CC3F-CC43, U+CC46-CC56, U+CC58;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-142.woff2") format("woff2");
  unicode-range:U+CC5A-CC95;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-143.woff2") format("woff2");
  unicode-range:U+CC96-CC97, U+CC9A-CC9B, U+CC9D-CC9F, U+CCA1-CCA7, U+CCAA, U+CCAC, U+CCAE-CCB3, U+CCB5-CCCF, U+CCD1-CCDB;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-144.woff2") format("woff2");
  unicode-range:U+CCDC-CCE3, U+CCE5-CD07, U+CD0A-CD17, U+CD19-CD1B;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-145.woff2") format("woff2");
  unicode-range:U+CD1C, U+CD1E-CD2B, U+CD2D-CD59;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-146.woff2") format("woff2");
  unicode-range:U+CD5A-CD5B, U+CD5D-CD93, U+CD96-CD97, U+CD99;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-147.woff2") format("woff2");
  unicode-range:U+CD9A-CD9B, U+CD9D-CDA3, U+CDA6-CDA8, U+CDAA-CDAF, U+CDB1-CDC3, U+CDC5-CDCB, U+CDCD-CDDC;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-148.woff2") format("woff2");
  unicode-range:U+CDDD-CDE7, U+CDE9-CE19;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-149.woff2") format("woff2");
  unicode-range:U+CE1A-CE1F, U+CE22-CE34, U+CE36-CE57, U+CE5A;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-150.woff2") format("woff2");
  unicode-range:U+CE5B, U+CE5D-CE5F, U+CE61-CE67, U+CE6A-CE6C, U+CE6E-CE73, U+CE75-CE77, U+CE79-CE7B, U+CE7D-CE8F, U+CE91-CE93, U+CE95-CE97, U+CE99-CE9F, U+CEA2-CEA3;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-151.woff2") format("woff2");
  unicode-range:U+CEA4-CEDF;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-152.woff2") format("woff2");
  unicode-range:U+CEE0-CEE3, U+CEE6-CEE7, U+CEE9-CEEB, U+CEED-CEF3, U+CEF5-CEFF, U+CF01-CF07, U+CF09-CF12, U+CF14-CF1B, U+CF1D-CF1F, U+CF21-CF23, U+CF25-CF26;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-153.woff2") format("woff2");
  unicode-range:U+CF27-CF2B, U+CF2D-CF2F, U+CF31-CF53, U+CF55-CF57, U+CF59-CF5B, U+CF5D-CF67;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-154.woff2") format("woff2");
  unicode-range:U+CF68-CF8B, U+CF8D-CFA4;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-155.woff2") format("woff2");
  unicode-range:U+CFA5-CFDF, U+CFE1;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-156.woff2") format("woff2");
  unicode-range:U+CFE2-CFFB, U+CFFD-CFFF, U+D001-D01F;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-157.woff2") format("woff2");
  unicode-range:U+D020-D033, U+D036-D04F, U+D051-D05E;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-158.woff2") format("woff2");
  unicode-range:U+D05F-D06B, U+D06D-D06F, U+D071-D073, U+D075-D07B, U+D07E-D09F;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-159.woff2") format("woff2");
  unicode-range:U+D0A0-D0A3, U+D0A5-D0A7, U+D0A9-D0AB, U+D0AD-D0B3, U+D0B6, U+D0B8, U+D0BA-D0BF, U+D0C2-D0C7, U+D0C9-D0CF, U+D0D2, U+D0D4, U+D0D6-D0DB, U+D0DE-D0DF, U+D0E1-D0EB, U+D0EE;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-160.woff2") format("woff2");
  unicode-range:U+D0EF-D12A;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-161.woff2") format("woff2");
  unicode-range:U+D12B-D12F, U+D131-D133, U+D135-D137, U+D139-D13F, U+D142-D14B, U+D14E-D14F, U+D151-D153, U+D155-D15B, U+D15D-D167, U+D169-D171;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-162.woff2") format("woff2");
  unicode-range:U+D172-D17B, U+D17D-D19F, U+D1A2-D1A3, U+D1A5-D1B0, U+D1B2;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-163.woff2") format("woff2");
  unicode-range:U+D1B3-D1B4, U+D1B6-D1EF;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-164.woff2") format("woff2");
  unicode-range:U+D1F0-D1F3, U+D1F5-D22B, U+D22D;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-165.woff2") format("woff2");
  unicode-range:U+D22E-D22F, U+D231-D26A;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-166.woff2") format("woff2");
  unicode-range:U+D26B-D27F, U+D281-D294, U+D296-D29B, U+D29D-D2A9;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-167.woff2") format("woff2");
  unicode-range:U+D2AA-D2B7, U+D2BA-D2BB, U+D2BD-D2BF, U+D2C1-D2C7, U+D2C9-D2EA;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-168.woff2") format("woff2");
  unicode-range:U+D2EB-D2EF, U+D2F2-D2F3, U+D2F5-D2F7, U+D2F9-D2FF, U+D301-D304, U+D306-D30B, U+D30D, U+D30F, U+D311-D313, U+D315-D31C, U+D31E-D327, U+D32A-D333;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-169.woff2") format("woff2");
  unicode-range:U+D334-D36F;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-170.woff2") format("woff2");
  unicode-range:U+D370-D37B, U+D37D-D383, U+D385-D38F, U+D391-D397, U+D39A-D39B, U+D39D-D3B1;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-171.woff2") format("woff2");
  unicode-range:U+D3B2-D3B3, U+D3B5-D3B7, U+D3B9-D3BB, U+D3BD-D3C8, U+D3CA-D3CF, U+D3D1-D3EB, U+D3EE-D3EF, U+D3F1-D3F3, U+D3F5-D3F6;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-172.woff2") format("woff2");
  unicode-range:U+D3F7-D3FB, U+D3FD-D433;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-173.woff2") format("woff2");
  unicode-range:U+D434-D45B, U+D45D-D470;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-174.woff2") format("woff2");
  unicode-range:U+D471-D477, U+D479-D47B, U+D47D-D47F, U+D481-D487, U+D489-D48C, U+D48E-D4B1;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-175.woff2") format("woff2");
  unicode-range:U+D4B2-D4E7, U+D4E9-D4EE;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-176.woff2") format("woff2");
  unicode-range:U+D4EF-D503, U+D505-D507, U+D509-D50B, U+D50D-D513, U+D515-D52E;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-177.woff2") format("woff2");
  unicode-range:U+D52F-D53B, U+D53E-D53F, U+D541-D543, U+D545-D550, U+D552-D557, U+D55A-D55B, U+D55D-D55F, U+D561-D567, U+D56A, U+D56C, U+D56E-D573, U+D576-D577, U+D579-D57A;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-178.woff2") format("woff2");
  unicode-range:U+D57B-D587, U+D58A-D5A4, U+D5A6-D5B9;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-179.woff2") format("woff2");
  unicode-range:U+D5BA-D5C7, U+D5C9-D5CF, U+D5D1-D5D7, U+D5D9-D5DA, U+D5DC-D5E3, U+D5E5-D5EB, U+D5ED-D5F6, U+D5F8-D5FC;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-180.woff2") format("woff2");
  unicode-range:U+D5FD-D5FF, U+D601-D603, U+D605-D607, U+D609-D60F, U+D612-D613, U+D616-D61B, U+D61D-D637, U+D63A-D63B, U+D63D-D63F, U+D641-D644;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-181.woff2") format("woff2");
  unicode-range:U+D645-D647, U+D64A-D64C, U+D64E-D653, U+D656-D657, U+D659-D65B, U+D65D-D668, U+D66A-D688;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-182.woff2") format("woff2");
  unicode-range:U+D689-D68B, U+D68E-D69E, U+D6A0-D6A7, U+D6A9-D6C3, U+D6C6-D6C7, U+D6C9-D6CB;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-183.woff2") format("woff2");
  unicode-range:U+D6CD-D6D0, U+D6D2-D6D3, U+D6D5-D6D6, U+D6D8-D6E7, U+D6E9-D6FB, U+D6FD-D70D;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-184.woff2") format("woff2");
  unicode-range:U+D70E-D717, U+D719-D728, U+D72A-D733, U+D735-D748, U+D74A-D74D;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-185.woff2") format("woff2");
  unicode-range:U+D74E-D74F, U+D752-D753, U+D755-D757, U+D759-D760, U+D762-D768, U+D76A-D76B, U+D76D-D76F, U+D771-D787, U+D789-D78B, U+D78D-D78F, U+D791-D794;
}
@font-face{
  font-family:"Gomsin Hand";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  size-adjust:120%;
  src:url("./hand-186.woff2") format("woff2");
  unicode-range:U+D795-D797, U+D79A-D7A2;
}
